<h1> this is About page</h1>

<%= link_to 'Go to Home page',root_path %>


<p>
  About Us

Founded in 1991 by the Southern Poverty Law Center, Teaching Tolerance is dedicated to reducing prejudice, improving intergroup relations and supporting equitable school experiences for our nation's children.
<br>
<br>
In its Declaration on the Principles of Tolerance, UNESCO offers a definition of tolerance that most closely matches our philosophical use of the word:
</p>