<h1> this is home page</h1>

<%= link_to 'Goto About Page',about_path %>

<div>
<div class="parsys articleLead">
<div class="parbase baseComponent videoPlayerEmbed jukebox section">
<div class="video-meta-wrapper" data-sni-module="modules/video-metadata">
<div class="video-meta-row">
<div class="video-meta-col-left">
<h3 class="video-meta-title">Best Vacation Spots</h3>
<small class="video-meta-runtime">03:45</small>
<p class="video-meta-description">Planning a trip? Take a look at some of the world's best vacation spots!</p>

</div>
</div>
</div>
<div class="tc-border-control "></div>
</div>
</div>
</div>
<div class="parbase attribution">
<div class="attribution-block-right">
<div class="tags parbase">TAGS
<div class="tags-list"><span class="tag"><a href="http://www.travelchannel.com/destinations/europe">EUROPE</a></span> <span class="tag"><a href="http://www.travelchannel.com/destinations/france">FRANCE</a></span> <span class="tag"><a href="http://www.travelchannel.com/destinations/france/paris">PARIS</a></span> <span class="tag"><a href="http://www.travelchannel.com/destinations/north-america">NORTH AMERICA</a></span> <span class="tag"><a href="http://www.travelchannel.com/destinations/us">UNITED STATES</a></span> <span class="tag"><a href="http://www.travelchannel.com/destinations/us/ny">NEW YORK</a></span> <span class="tag"><a href="http://www.travelchannel.com/destinations/us/ny/new-york-city">NEW YORK CITY</a></span> <span class="tag"><a href="http://www.travelchannel.com/destinations/italy">ITALY</a></span> <span class="tag"><a href="http://www.travelchannel.com/destinations/italy/rome">ROME</a></span> <span class="tag"><a href="http://www.travelchannel.com/destinations/mexico">MEXICO</a></span> <label class="caret" for="more-lorem">MORE</label></div>
</div>
</div>
</div>
<div class="article-body">
<div class="parsys articleBody">
<div class="topNItem parbase topNNonPOI section"><section class="topn-wrapper">
<h2 class="topn-title"><b>Paris, France</b></h2>
<div class="topn-imagewrap" data-sni-module="modules/pinterest-embed"><img title="top-10-vacation-spots-paris" src="http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2013/02/06/40/top-10-vacation-spots-paris.rend.tccom.616.462.jpeg" alt="top-10-vacation-spots-paris" width="616" height="462" />
<div class="poi-imageAttribution">Thinkstock</div>
</div>
<div class="topn-description">Like all great cities, you can spend months in <a href="http://www.travelchannel.com/destinations/paris">Paris</a> and barely scratch the surface of the city’s cultural treasures. It has museums galore, stellar shopping and busy cafés perfect for people-watching.

Follow Anthony Bourdain's advice: <a href="http://www.travelchannel.com/video/do-paris-right-11692">Do Paris right</a>.

<a href="http://www.travelchannel.com/destinations/paris/photos/fall-in-love-with-paris">Fall in love with Paris</a>.  <a href="http://www.travelchannel.com/interests/arts-and-culture/photos/signs-of-the-city-paris">See signs of the City: Paris</a>.</div>
</section></div>
<div class="topNItem parbase topNNonPOI section"><section class="topn-wrapper">
<h2 class="topn-title"><b>New York, New York</b></h2>
<div class="topn-imagewrap" data-sni-module="modules/pinterest-embed"><img title="" src="http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2014/12/2/top-10-vacation-spots-new-york-city.jpg.rend.tccom.616.462.jpeg" alt="" width="616" height="462" />
<div class="poi-imageAttribution">Espiegel / iStock</div>
</div>
<div class="topn-description">

<a href="http://www.travelchannel.com/destinations/new-york">New York</a> is true to its roots and remains a city of immigrants with inspiring architecture and a thriving arts scene. Take in a show on Broadway, shop in SoHo, spend a lazy day in<a href="http://www.travelchannel.com/daily-escape/central-park">Central Park</a> and explore the city’s diverse neighborhoods.

Inexpensive fun: <a href="http://www.travelchannel.com/interests/budget-travel/articles/new-york-on-a-budget">New York on a budget</a>.

See the <a href="http://www.travelchannel.com/interests/arts-and-culture/photos/signs-of-the-city-new-york">signs of city: New York</a>. Watch the <a href="http://www.travelchannel.com/video/lost-girls-get-lost-in-nyc">Lost Girls get lost in NYC.</a>

</div>
</section></div>
<div class="topNItem parbase topNNonPOI section"><section class="topn-wrapper">
<h2 class="topn-title"><b>Rome, Italy</b></h2>
<div class="topn-imagewrap" data-sni-module="modules/pinterest-embed"><img title="488663515" src="http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2014/12/2/top-10-vacation-spots-rome-colluseum.jpg.rend.tccom.616.462.jpeg" alt="488663515" width="616" height="462" />
<div class="poi-imageAttribution">Jpiks1 / iStock / Thinkstock</div>
</div>
<div class="topn-description">

The Eternal City <a href="http://www.travelchannel.com/destinations/rome">Rome</a> celebrates its long history with monuments, churches and restored ruins that offer a glimpse into life during the days of the great Roman Empire. Celebrate the city’s roots and immerse yourself in the <a href="http://www.travelchannel.com/destinations/rome/photos/explore-the-eternal-city-of-rome">culture</a> over a heaping bowl of pasta and a taste of gelato.

See all the reasons <a href="http://www.travelchannel.com/interests/arts-and-culture/photos/why-we-love-the-italians">why we love the Italians</a>.

Hungry? Get a <a href="http://www.travelchannel.com/destinations/italy/photos/taste-of-italy">taste of Italy</a>. See Anthony Bourdain's <a href="http://www.travelchannel.com/tv-shows/the-layover/photos/the-layover-rome-pictures">layover in Rome</a>.

</div>
</section></div>
<div class="topNItem parbase topNNonPOI section"><section class="topn-wrapper">
<h2 class="topn-title"><b>Cancun, Mexico</b></h2>
<div class="topn-imagewrap" data-sni-module="modules/pinterest-embed"><img title="top-10-vacation-spots-cancun" src="http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2013/02/06/6d/top-10-vacation-spots-cancun.rend.tccom.616.462.jpeg" alt="top-10-vacation-spots-cancun" width="616" height="462" />
<div class="poi-imageAttribution">Thinkstock</div>
</div>
<div class="topn-description">Miles of beaches, endless luxury accommodations and a <a href="http://www.travelchannel.com/video/infamous-cancun-spring-break">nonstop party</a> atmosphere in<a href="http://www.travelchannel.com/destinations/cancun">Cancun</a> have transformed this once sleepy village on the Yucatan coast into one of<a href="http://www.travelchannel.com/destinations/mexico">Mexico</a>'s most popular tourist attractions, particularly during spring break.

Take a tour of <a href="http://www.travelchannel.com/destinations/cancun/photos/cancuns-finest">Cancun's best attractions</a>.

See the party capital's <a href="http://www.travelchannel.com/video/cancun-after-dark-11261">life after dark</a>. Looking for a place to dine? Check out Cancun's<a href="http://www.travelchannel.com/video/cancuns-must-eat-cuisine-11264">must-eat cuisine</a>.</div>
</section></div>
</div>
</div>